html {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

body {
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: hsl(212, 46%, 89%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    background-color: hsl(0, 0%, 100%);
    border-radius: .8em;
    padding: 1em;
    text-align: center;
    width: 19em;
    max-width: 80%;
}

img {
    border-radius: .8em;
    max-width: 100%;
}


h2 {
    font-weight: 700;
    /* line-height: 2em; */
}

p {
    color:hsl(219, 15%, 55%);
    font-weight: 400;
    width: 90%;
    margin: 0 auto 1.8em;
}


.attribution {
    font-size: 11px;

    color: #c4c4c4;
    text-align: center;
    position: fixed;
    bottom: .5em;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    /* color: #fafafa; */
    text-decoration: none;
}